

<div class="container">
  <div class="card-container">
    <div class="row">
      <% @houses.each do |house| %>
        <div class="col-xs-12 col-md-6">
          <div class="house-card">
            <div class="card__image" style="background: url(<%= house.house_picture %>) no-repeat center; background-size: cover;"></div>
            <div class="card__content">
              <div class="card__title">
                <%= house.name %>
              </div>
              <p class="card__text">
                <%= house.description %>
              </p>
              <p class="card__text">
                <%= house.address %>
              </p>
              <p class="card__price">
                <%= "#{house.price_per_night} €" %>
              </p>
              <%= link_to "Book this house" ,house_path(house), class: "house-btn btn--block card__btn text-center" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



