<div class="container">
<h3>LAST RESERVATIONS</h3>

  <% @reservations.each do |reservation| %>
    <div class="reservations-index-inverted">
      <h5><%= "RESERVATION DETAILS:" %></h5>
      <h6><%= "RESERVATION DONE ON #{reservation.created_at}" %></h6>
      <br>


      <div>
        <%= "HOUSE | #{reservation.house.name}" %>
      </div>

      <div>
        <%= "GUESTS NUMBER | #{reservation.guests_number} people" %>
      </div>

      <div>
        <%= "DATE OF ARRIVING | #{reservation.start_booked_at}" %>
      </div>

      <div>
        <%= "DATE OF LEAVING | #{reservation.end_booked_at}" %>
      </div>

      <div>
        <%= "PRICE | #{reservation.price}" %>
      </div>

      <hr>
    </div>
  <% end %>

<%= link_to 'back home', houses_path(@house) %>
</div>
